.symbols {
  margin: 0;
  padding: 0;
  text-align: center;
  max-width: 50%;
  margin: auto;
}

.symbol {
  cursor: pointer;
  padding: 5px;
  border: solid 1px white;
}

.symbol:hover {
  border: solid 1px yellowgreen;
}
